/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/06/2015, 02:21:07 PM
    Author     : bryanmq
*/
.panel_central{
    margin: auto;
}

#main {
    max-width: 35%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

#main2 {
    max-width: 20%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

#main3 {
    max-width: 23%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

#main4 {
    max-width: 300%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

#preferenceColor{
    background-color: #FFFDEE;
}

